/* =====================================
	Dynamo style.css
	------------------------------------
	site specific styles
	sets all the local design elements 
/*--------------------------------------*/

/*artcile lists*/
.view-article-list li{background:transparent url(../images/bg-divider-small.png) no-repeat left top; padding:10px 20px 10px 20px; margin:0; color:#999999;}
.view-article-list li.first{background:none; padding:0 20px ;}
.view-article-list li li{background:none; padding:0px 10px 0px 0px; margin:0;}

/*node og list*/
.node .meta ul{margin:0 0 0 10px;}

.meta div.taxonomy{display:inline;}
.meta li {padding:0 10px 0 0;}




.view-empty,
.feed, 
 .more-link{
	margin:20px 0 0 20px; 
}


.page-comment .comment,
.page-comment #comment-form,
.pane-node_content, 
.pane-node_comments,
.pane-node_comment_form{
	margin:0 20px 0 20px;
}

span.time{background:transparent url(../images/ur.png) no-repeat 0 2px; padding:0 0 0 14px;}

/* =======================================
	comment
/* ------------------------------------- */
div.indented{margin:0 0 0 20px;}
div.comment {width: auto; margin:0 0 10px 0;}
div.comment blockquote {border: 1px solid #dedede; background:#fff; font-size:10px;}
div.comment blockquote h4{margin: 10px 10px 5px 10px;}
div.comment blockquote h4.new a{color:#000;}
div.comment blockquote p {margin: 0 10px;}
div.comment ul.links{text-align:right; margin: 5px 10px}
div.comment ul.links li{display:inline;}
div.comment .meta {position:relative; margin:-1px 0 0 10px; padding:10px 0 0 30px ;background: transparent  url(../images/tip.gif) no-repeat 35px 0; font-style:normal;}
div.comment .meta .author{color:#999;}
div.comment .meta .date{color:#999;}



/*calender*/
.pane-event_list .panel-pane{margin:0 5px;}
.pane-event_list h3{background:#d1d9d7; padding:3px 10px; margin:0 10px 0 14px;}
.pane-event_list .view-event-list{margin:10px 0 0 0;}
.pane-event_list .view-event-list li{background:transparent url(../images/bg-divider-verysmall.png) no-repeat left top; padding:5px 0 5px 20px; clear:both;} 
.pane-event_list .view-event-list li.first{background:none; padding-top:0px; clear:both;} 
.pane-event_list .view-event-list li div.leaf{height:65px; width:55px; float:left; padding:2px 0 0 0; background:transparent url(../images/bg-calender.png) no-repeat 0 0; }
.pane-event_list .view-event-list li div.info{float:left; overflow:hidden; width:154px;}

.view-filters{width:690px;}
.views-exposed-form .views-exposed-widget{float:right;}
.view-empty{margin:0 0 0 20px;}

/* =====================================
teaser
/*--------------------------------------*/
.node-teaser.node-library{background:transparent url(../images/bg-divider.png) no-repeat left top; padding:10px 0 0 0;}



/* =====================================
test
/*--------------------------------------*/
#page.pagetest{background:transparent url(../images/test.png) no-repeat 0 0; border: 1px solid #f0f;}
.test{background:#f0f url(../images/bg-trans-50.png) repeat 0 0;}
*.test{opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=50);}


/* =====================================
Cowboy
/*--------------------------------------*/
#block-ding_library_map-0 {width:690px; margin:0 0 0 20px;}


.pane-article_list h3{
	display:none;
}
