/* ===================================== 
	Style: Typography
	basic font size's etc

  Based at 12 / 18 px
  http://www.alistapart.com/articles/howtosizetextincss

	  orig_pix * em_value = wanted_pix
	wanted_pix /  orig_pix = em_value
* ------------------------------------- */
body{
  font-size: 13px;
	line-height:17px;
 	color:#666
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Verdana, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  color: #050505;
}
h1{ 
  font-size: 21px;
  line-height: 25px;
  color: #050505;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 17px;
}
h4 {
  font-size: 14px;
  font-weight: bold;
}
h5 { 
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
h6 { 
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
p {
	margin-bottom: 0.5em;
}
/*-- form --*/
textarea{
  font-size: 12px;
}

/*-- code --*/
code, tt, pre {
  padding: 1px;
  background-color: #efefef;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;
  font-size: 10px;
}

/* ===================================== 
account
* ------------------------------------- */
#account a{color:#fff;font-size:0.9em; text-decoration: underline;}
#user-login-form label{font-size:0.8em; color:#000;}
#search p{font-size:0.7em; color:#eccdd3;}
	#edit-search-block-form-1-wrapper input{font-size:1.2em; color:#929292;}
	#edit-search-block-form-1-wrapper p{font-size:0.9em; color:#dfa1ab;}


/*-- links --*/
a, a:link, a:visited, a:active {text-decoration: none; color:#006a87;}
a:hover, a:focus { text-decoration: underline; color:#006a87;}

li a.active{color:#006a87;}
tr.odd{}
tr.odd td{padding:5px;}
tr.odd a{color:#000;}
tr.even{}

/*headers*/
h1,
h2 a, h2 a:link,h2 a:visited,h2 a:active,
h3 a, h3 a:link,h3 a:visited,h3 a:active{
	font-size:21px; line-height:25px; color:#050505;
}
h4 a, h4 a:link,h4 a:visited,h4 a:active{font-size:12px; line-height:15px; color:#050505;}

.view-event-list li div.title,
.view-event-list .time,
.view-event-list li div.title a{
	font-size:11px; line-height:15px; font-weight:bold;
}

.meta,
.view-empty,
.view-event-list .libary-tag,
.view .field-library-ref-nid,
.view .created, 
.view .name{
	font-size:10px; line-height:15px;
}

#frontpagecarousel-controller li{color:#fff; 	font-size:11px; line-height:15px;}
#frontpagecarousel-controller li a{
	font-size:11px; line-height:15px; color:#050505;
}


#path,
.subject a,
.more-link a,
.pane-event_list li div,
.pane-event_list h4 a,
.pane-library_feature_list ul li,
.view-feature-list li div.title a
{
	font-size:10px; line-height:17px;
}

.office-hours-week{
	font-size:11px; line-height:20px;
}
.vcard{
	font-size:11px; line-height:17px;
}

.pane-library_feature_list h3,
.pane-library_hours h3
{
	font-size:11px; line-height:20px; font-weight:bold;
}

.subject a{color:#fff; background-color: #b41630; padding:2px;}

/*calender block*/
.pane-event_list .title{color:#000; font-weight:bold;}
.pane-event_list li div.leaf{font-family: Georgia, serif; text-align: center;}
	.pane-event_list li div.leaf .day{color:#fff; font-size:10px; line-height:15px;}
	.pane-event_list li div.leaf .date{font-size:32px; line-height:26px;}
	.pane-event_list li div.leaf .month{font-size:11px; line-height:15px;}
	.pane-event_list li div a{color:#666;}
	.pane-event_list .view-event-list li div h4 a{color:#050505;line-height:8px;}
	.pane-event_list .view-event-list li div h4{line-height:8px;}

.vcard .fn{font-weight:bold;}

.libary-openstatus{	font-size:10px; line-height:17px; text-transform: uppercase; color:#fff;}


#pagefooter{font-size:10px; line-height:13px;}
#pagefooter h3,
.pane-event_list h3,
.pane-library_feature_list h3
{
	font-size:10px; line-height:17px;
  font-family: "Gills sans light", Verdana, Arial, sans-serif; text-transform: uppercase;
	font-weight: normal;
}


