/* =====================================
	site specific styles
	sets all the local design elements 
/*--------------------------------------*/
#page{width:960px; margin: 0 auto;}
.pageWidth{width:960px;}

#site-name {text-indent: -9999em;}
	#site-name a{height:50px;background: transparent url(../logo.png) no-repeat; display: block;}

body{background:#f9f9f7}
#page{background:#fff;}
#page-inner{border: 1px solid #eee;}

#navigation{clear: both;}
#navigation ul li{float:left; margin:0 10px; border: 1px solid #999;}


